.about {
  margin-top: 200px;
  &__item {
    &:not(:first-child) {
      margin-top: 200px;
      @include breakpoint($md-2, 0) {
        margin-top: 180px;
      }
      @include breakpoint($md-3, 0) {
        margin-top: 110px;
      }
      @include breakpoint($md-4, 0) {
        margin-top: 70px;
      }
    }
  }
  @include breakpoint($md-2, 0) {
    margin-top: 180px;
  }
  @include breakpoint($md-3, 0) {
    margin-top: 110px;
  }
  @include breakpoint($md-4, 0) {
    margin-top: 70px;
  }
}
.item-about {
  &__blocks {
    display: grid;
    grid-template-columns: repeat(3, minmax(290px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
    @include breakpoint(1200, 0) {
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
    @include breakpoint($md-2, 0) {
      gap: 15px;
    }
  }
  &__subtitles {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    @include breakpoint($md-3, 0) {
      flex-direction: column;
    }
  }
  &__subtitle {
    font-weight: 700;
    font-size: 48px;
    span {
      color: $secondary;
    }
    @include breakpoint($md-2, 0) {
      font-size: 40px;
    }
    @include breakpoint($md-3, 0) {
      font-size: 32px;
    }
    @include breakpoint($md-4, 0) {
      font-size: 24px;
    }
  }
}
.block-item-about {
  &:not(.block-item-about_image) {
    border: 2px solid $secondary;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      transform: rotate(-45deg);
      height: 24px;
      background-color: #000;
    }
    &::before {
      left: -12px;
      top: -12px;
      border-bottom: 3px solid $secondary;
    }
    &::after {
      right: -12px;
      bottom: -12px;
      border-top: 3px solid $secondary;
    }
  }
  &__icons {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
  }
  &__icon {
    width: 65px;
    height: 65px;
    img {
      width: 100%;
      height: 100%;
    }
    @include breakpoint($md-2, 0) {
      width: 42px;
      height: 42px;
    }
    @include breakpoint($md-3, 0) {
      width: 36px;
      height: 36px;
    }
  }
  &__image {
    position: relative;
    padding-bottom: 80%;
    @include breakpoint($md-2, 0) {
      padding-bottom: 70%;
    }
    @include breakpoint($md-3, 0) {
      padding-bottom: 60%;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    column-gap: 30px;

    @include breakpoint($md-2, 0) {
      column-gap: 25px;
    }
    @include breakpoint($md-3, 0) {
      column-gap: 20px;
    }
  }
}
