.offer {
  background-image: url("../images/offer/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 162px;
  padding: 30px 0 170px;
  @include breakpoint($md-2, 0) {
    margin-top: 84px;
  }
  @include breakpoint(660, 0) {
    background: none;
    padding-bottom: 0;
    margin-bottom: 84px;
  }
  @include breakpoint($md-4, 0) {
    margin-top: 70px;
  }
  &__body {
    border: 1px solid $primary;
    border-radius: 5px;
    padding: 30px;
    background-color: #000;
    @include breakpoint($md-2, 0) {
      padding: 20px;
    }
  }
  &__content {
    display: flex;
    column-gap: 40px;
    @include breakpoint($md-2, 0) {
      gap: 30px;
    }
    @include breakpoint(1250, 0) {
      flex-direction: column;
    }
  }
  &__tabs {
    flex: 1 1 auto;
  }
  &__form {
    flex: 0 1 545px;
    @include breakpoint($md-2, 0) {
      flex: 0 1 450px;
    }
    @include breakpoint(1250, 0) {
      flex: 0 1 auto;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 55px;
    @include breakpoint($md-3, 0) {
      margin-bottom: 20px;
    }
  }
  &__button {
    font-size: 16px;
    color: $secondary;
    background-color: transparent;
    padding: 15px 20px;
    border: 3px solid $secondary;
    border-radius: 60px;
    transition: all 0.3s ease;
    &.active {
      background-color: $secondary;
      color: #000;
    }
  }
}
.item-offer {
  display: flex;
  align-items: flex-start;
  column-gap: 60px;
  padding-left: 60px;
  display: none;
  &.show {
    display: flex;
  }
  @include breakpoint($md-2, 0) {
    column-gap: 45px;
    padding-left: 40px;
  }
  @include breakpoint(1250, 0) {
    padding-left: 30px;
  }
  @include breakpoint(660, 0) {
    flex-direction: column;
    padding-left: 0;
    row-gap: 30px;
  }

  &__image {
    position: relative;
    flex: 0 1 344px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    @include breakpoint($md-3, 0) {
      flex: 0 1 229px;
      padding-top: 14px;
    }
    @include breakpoint(660, 0) {
      align-self: center;
      flex: 0 0 200px;
      padding: 14px 30px 0 30px;
    }
  }
  &__content {
    flex: 1 1 auto;
  }
}
.content-offer {
  &__colors {
    margin-bottom: 55px;
    @include breakpoint($md-2, 0) {
      margin-bottom: 40px;
    }
  }
  &__memory {
    margin-bottom: 60px;
    @include breakpoint($md-2, 0) {
      margin-bottom: 40px;
    }
  }
  &__price {
    font-weight: 700;
    span {
      margin-top: 30px;
      color: $secondary;
      font-size: 28px;
      display: block;
      line-height: calc((32 / 28) * 100%);
      @include breakpoint($md-3, 0){
        margin-top: 20px;
      }
    }
  }
}
.colors-content {
  &__label {
    margin-bottom: 30px;
    font-weight: 700;
  }
  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    @include breakpoint($md-2, 0) {
      gap: 10px;
    }
  }
  &__item {
    flex: 0 0 49px;
    height: 49px;
    flex-wrap: wrap;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    &.active {
      border: 3px solid $secondary;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.memory-content {
  &__label {
    margin-bottom: 30px;
    font-weight: 700;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    @include breakpoint($md-2, 0) {
      gap: 10px;
    }
  }
  &__item {
    flex: 0 0 117px;
    height: 53px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border: 3px solid $primary;
    color: $primary;
    background-color: transparent;
    &.active {
      border-color: $secondary;
      color: $secondary;
    }
    @include breakpoint($md-2, 0) {
      flex: 0 0 100px;
    }
  }
}
.form-offer {
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
    gap: 30px;
    @include breakpoint($md-2, 0) {
      gap: 10px;
      margin-bottom: 30px;
    }
  }
  &__button {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    padding: 15px 30px;
    border: 3px solid $primary;
    transition: all 0.3s ease;
    &.active {
      background-color: $primary;
      color: #0a0a0a;
    }
  }

  &__input {
    margin-bottom: 45px;
    @include breakpoint($md-3, 0) {
      margin-bottom: 30px;
    }
    &#entity {
      display: none;
      &.show {
        display: block;
      }
    }
    input {
      font-size: 24px;
      width: 100%;
      background-color: transparent;
      border-bottom: 1px solid $primary;
      padding-bottom: 5px;
      color: $primary;

      &::placeholder {
        color: #534e00;
      }
      @include breakpoint($md-3, 0){
        font-size: 22px;
      }
      @include breakpoint($md-4, 0){
        font-size: 18px;
      }
    }
  }
  &__text {
    margin-bottom: 35px;
    a {
      color: inherit;
      text-decoration: underline;
    }
    @include breakpoint($md-4,0){
      font-size: 16px;
    }
  }
  &__submit {
    position: relative;
    max-width: 383px;
    width: 100%;
    height: 73px;
    background-color: transparent;
    background-image: url("../images/offer/icon-2.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    &:hover {
      span {
        top: 2px;
        left: 0;
        // background-color: #000;
      }
    }
    @include breakpoint($md-4, 0) {
      background-image: url("../images/offer/icon-2.svg");
    }
    span {
      position: absolute;
      left: -10px;
      top: -15px;
      padding: 20px 20px 20px 0;
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: all 0.2s ease-in;
      line-height: calc((27 / 24) * 100%);
      color: #0a0a0a;
      font-size: 24px;
      font-weight: 700;
      background-image: url("../images/offer/icon.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      @include breakpoint($md-3, 0) {
        padding: 14px 14px 14px 0;
        left: -8px;
        top: -11px;
        font-size: 22px;
      }
      @include breakpoint($md-4, 0) {
        align-items: flex-start;
        background-image: url("../images/offer/icon.svg");
        font-size: 18px;
      }
    }
    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 10px;
    //   top: 15px;
    //   width: 100%;
    //   height: calc(100% + 7px);
    // }
  }
}
