$maxWidth: 1920px;
$maxWidthContainer: 1520px;
$md-1: ($maxWidthContainer+25)px;
$md-2: 1440;
$md-3: 744;
$md-4: 414;
$fontFamily: AGLettericaCondensed;
$fontFamilySec: Marske;
$fontSize: 20px;
$primary: #FCEE0A;
$secondary: #00F0FF;